<table class="profile" summary="Profile information">
	<tr>
		<td class = "main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %> 
			</h1>
			<% unless @user.matches.empty? %>
				<table>
					<%= render @matches, user: @user %>
				</table>
				<%= will_paginate @matches %>
			<% end %>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %> <br />
			<strong>Email</strong> <%= link_to user_path(@user), @user %><br />
			<strong>Matches</strong> <%= @user.matches.count %>
		</td>
	</tr>
</table>
