<tr>
	<td>
		<span class='content'>
			<%= match.defender.name %> <%= match.defender_score %> - <%= match.challenger_score %> <%= match.challenger.name %>
		</span>
		<span class='timestamp'>
			Posted <%= time_ago_in_words(match.created_at) %> ago.
		</span>
	</td>
</tr>