<tr>
	<td>
		<span class='content'>
			<% if match.defender == current_user %>	
				<strong><%= match.defender.name %> <%= match.defender_score %></strong> - <%= match.challenger_score %> <%= match.challenger.name %>
			<% else %>
			  <%= match.defender.name %> <%= match.defender_score %> - <strong><%= match.challenger_score %> <%= match.challenger.name %></strong>
			<% end %>
		</span> <br \>
		<span class='timestamp'>
			Played <%= time_ago_in_words(match.created_at) %> ago.
		</span>
	</td>
</tr>